.home {
    position: relative;
    width: 100%;
    height: 673px;
    object-fit: cover;
    background: url("../images/homeBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home::-webkit-scrollbar {
    display: none;
}

.home .frostbite {
    position: absolute;
    width: 100%;
    height: 673px;
    object-fit: cover;
    background: url("../images/frostbite.png");
    background-position: right;
    background-repeat: no-repeat;
    animation: riseupFrostbite 1.4s;
}

.home .homeTitle {
    position: absolute;
    color: #ffffff;
    font-size: 82px;
    font-weight: bold;
    margin: 0;
    transform: translate(56px, 160px);
    animation: smoothAppear 2s;
}

.home .homeText {
    position: absolute;
    color: #c8c8c8;
    font-size: 24px;
    transform: translate(56px, 301px);
    animation: riseupText 1.6s;
}

.home .army {
    position: absolute;
    transform: translate(820px, 364px);
    animation: riseupArmy 1.5s;
}

.home .tank {
    position: absolute;
    width: 400px;
    height: 280px;
    transform: translate(940px, 390px);
    animation: riseupTank 1.6s;
}

@keyframes smoothAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes riseupText {
    from {
        opacity: 0;
        transform: translate(56px, 1000px);
    }

    to {
        opacity: 1;
        transform: translate(56px, 301px);
    }
}

@keyframes riseupFrostbite {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes riseupArmy {
    from {
        transform: translate(820px, 1000px);
    }

    to {
        transform: translate(820px, 364px);
    }
}

@keyframes riseupTank {
    from {
        transform: translate(940px, 1000px);
    }

    to {
        transform: translate(940px, 390px);
    }
}


