@font-face {
  font-family: 'googleGravitasOne';
  src: url(../assets/fonts/Gravitas_One/GravitasOne-Regular.ttf);
}

:root {
  --font-googleGravitasOne: 'googleGravitasOne';
}

body {
  background-image: url(../images/paper_bg.png);
  background-attachment: fixed;
}

.home {
  width: 100%;
  height: 100vh;
}

.home1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  background: url('../images/homeBg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.home .home1 .repeatText {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-googleGravitasOne);
  width: 300%;
  color: #ffffff;
  animation: showLeft 1s;
}

.home .home1 .homeTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: showTitle 1s;
}

.home .home1 .homeTitle2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: showTitle 1s;
}

.home .home1 .remembranceText {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 7vh;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .home1 .remembranceText .inRemembrance {
  width: 20vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: widthIncrease 1s;
  font-family: 'googleGravitasOne';
}

.home .home1 .remembranceText .inRemembranceText {
  color: #ffffff;
  margin: 0;
}

.home .home1 .remembranceText .inRemembrance .whiteBox1 {
  width: 3vw;
  height: 2vh;
  background-color: #ffffff;
}

.home .home1 .remembranceText .whiteBox2 {
  width: 2.6vw;
  height: 7vh;
  background-color: #ffffff;
}

.home .home1 .repeatText2 {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-googleGravitasOne);
  width: 400%;
  color: #ffffff;
  z-index: 3;
  animation: showRight 1s;
}

.home .home1 .home1FootBg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background: url('../images/homeBg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.home .home2 {
  position: relative;
  width: 100%;
  height: 90vh;
}

.home .home2 .pine1 {
  position: absolute;
  left: 0;
  top: -8%;
}

.home .home2 .line1 {
  position: absolute;
  top: 36%;
  right: 0;
  width: 36%;
  border: 1px solid #000000;
  margin: 0;
}

.home .home2 .line1Text {
  position: absolute;
  top: 39%;
  left: 74%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
}

.home .home2 .pine2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.home .home2 .line2 {
  position: absolute;
  top: 55%;
  left: 0;
  width: 32%;
  border: 1px solid #000000;
  margin: 0;
}

.home .home2 .line2Text {
  position: absolute;
  top: 58%;
  left: 18%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
}

.home .home2 .tank {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .home2 .year {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: var(--font-googleGravitasOne);
}

.home .home2 .home2Title {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .home2 .toStoryBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
  height: 7vh;
  background: none;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-weight: bold;
}

.home .home2 .toStoryBtn:hover {
  background-color: #000000;
  color: #ffffff;
}

.home .home2ImgContainer {
  position: relative;
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .home2ImgContainer .home2Imgs {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.home .home2ImgContainer .line1 {
  position: absolute;
  top: 66%;
  left: -3%;
  border: 1px solid #bcbcbc;
  transform: rotate(90deg);
  width: 13%;
}

.home .home2ImgContainer .line2 {
  position: absolute;
  top: 70%;
  right: 3%;
  border: 1px solid #bcbcbc;
  transform: rotate(90deg);
  width: 6%;
}

.home .home3 {
  margin-top: -200px;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/homeBg3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .home3 .martyrs {
  padding-top: 31px;
  font-size: 2.4rem;
  color: #000000;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin: 0;
}

.home .home3 .martyrs::before {
  content: '';
  flex-grow: 1;
  height: 2px;
  margin: 0 10px;
  background: #000000;
}

.home .home3 .martyrs::after {
  content: '';
  margin: 0 10px;
  background: #000000;
  flex-grow: 1;
  height: 2px;
}

.home .home3 .pine3 {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 3;
}

.home .home3 .phrase {
  position: absolute;
  top: 16%;
  left: 19.4%;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.home .home3 .pharseEn {
  position: absolute;
  top: 22%;
  left: 22.6%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 0.8rem;
  color: #808080;
}

.home .home3 .narration {
  position: absolute;
  top: 26%;
  left: 15.4%;
  font-size: 0.8rem;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #808080;
}

.home .home3 .home3Title {
  position: absolute;
  top: 34%;
  left: 0;
  width: 100%;
}

.home .home3 .martyrsImg {
  position: absolute;
  top: 54%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.home .home3 .line1 {
  position: absolute;
  left: 0;
  top: 66%;
  width: 13.8%;
  border: 1px solid #bcbcbc;
  margin: 0;
}

.home .home3 .line2 {
  position: absolute;
  left: 90%;
  top: 65%;
  transform: rotate(90deg);
  width: 13%;
  border: 1px solid #bcbcbc;
  margin: 0;
}

.home .home3 .line3 {
  position: absolute;
  left: 93%;
  top: 70%;
  transform: rotate(90deg);
  width: 6%;
  border: 1px solid #bcbcbc;
  margin: 0;
}

.home .home3 .year2 {
  position: absolute;
  top: 84%;
  left: 12%;
  transform: translate(-50%, -50%);
  font-family: var(--font-googleGravitasOne);
}

.home .home3 .year3 {
  position: absolute;
  top: 84%;
  right: 6%;
  transform: translate(-50%, -50%);
  font-family: var(--font-googleGravitasOne);
}

.home .home3 .weed {
  position: absolute;
  top: 73%;
  left: 0;
}

.home .home3 .repeatText3 {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-googleGravitasOne);
  width: 200%;
}

.home .homeFooter {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.home .homeFooter .contactList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a4a4a4;
  padding: 0;
}

.home .homeFooter .contactList li {
  margin-top: 10px;
}

.home .homeFooter .contactList li:first-child {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

@keyframes showLeft {
  from {
    position: absolute;
    top: 13%;
    left: 200%;
    transform: translate(-50%, -50%);
  }

  to {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes showRight {
  from {
    position: absolute;
    top: 86%;
    left: -200%;
    transform: translate(-50%, -50%);
  }

  to {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes showTitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes widthIncrease {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 20vw;
    opacity: 1;
  }
}
