@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  font-family: 'Pretendard-Regular';
  position: fixed;
  z-index: 99;
}

.navbar .navInBox {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navBox1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
}

.navbar .navBox1 .logo {
  width: 31px;
  height: 22px;
  cursor: default;
}

.navbar .title {
  color: #ffffff;
  font-size: 0.8rem;
  cursor: default;
  font-weight: 100;
}

.navbar .menuList {
  width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.navbar .menuList li {
  color: #c8c8c8;
  font-size: 14px;
  cursor: pointer;
}

.navbar .menuList li:hover {
  color: #ffffff;
}

.navbar .navBox2 {
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.navbar .navBox2 .messageCircle {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  background-color: #c8c8c8;
}

.navbar .navBox2 .messageCircle svg {
  position: absolute;
  color: #282828;
  font-size: 14px;
}

.navbar .navBox2 .complain {
  color: #c8c8c8;
  font-size: 12px;
}

.navbar .navBox2:hover .messageCircle {
  background-color: #ffe812;
}

.navbar .navBox2:hover .messageCircle svg {
  color: black;
}

.navbar .navBox2:hover .complain {
  color: #ffffff;
  cursor: pointer;
}
