body {
  background-color: #1f1f1f;
}

/* component */
.display-enter {
  white-space: pre-line;
  white-space: pre-wrap;
}

.explainProps title {
  font-family: 'DX';
}

.explainProps div:first-child {
  font-size: 24px;
}

.explainProps div:last-child {
  margin-top: 32px;
  font-size: 18px;
}

.SubExplain {
  font-size: 15px;
  color: #8f8f8f;
}

/* page */
.b {
  font-size: 15px;
  color: #8f8f8f;
}

.storyDiv {
  width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1f1f1f;
  margin: auto;
}

.storyBox {
  width: 100%;
}

.vector {
  margin-left: 58px;
  margin-top: 0;
  z-index: 1;
  position: absolute;
}

.storyBg {
  width: 100%;
  display: flex;
}

.storyBg img {
  width: 100%;
}

.storyContainer {
  margin-top: 50px;
  margin-left: 148px;
}

.propsInput {
  display: flex;
}

.description1 {
  margin-top: 90px;
}

.explainInner {
  margin-top: 48px;
}

.gunInput {
  margin-top: 90px;
}

.description2 {
  margin-top: 168px;
}

.imgBox {
  display: flex;
}

.imgBox img:first-child {
  filter: grayscale(1);
  margin-right: 8px;
  margin-top: 32px;
}

.imgBox img:last-child {
  margin-top: 33px;
  height: 471px;
}

.description3 {
  margin-top: 160px;
  background-image: url(../images/seoul_bg.png);
  height: 762.64px;
}

.description4 {
  margin-top: 90px;
  display: flex;
  margin-bottom: 50px;
}

.runPerson {
  margin-top: 148px;
  position: absolute;
  z-index: 1;
}

.korea {
  margin-left: 48px;
}

.description5Out {
  background-color: #282828;
}

.description5 {
  margin-top: 125px;
}

.description6 {
  margin-top: 57px;
}

.blood1 {
  margin-top: -100px;
  position: absolute;
  margin-left: 20px;
}
.blood2 {
  position: absolute;
  margin-left: 850px;
  margin-top: -160px;
}
